Flask
Flask-Bcrypt
Flask-Login
pymongo
dnspython
mongomock
pandas
numpy
joblib
xhtml2pdf
openpyxl
scikit-learn
xgboost
lightgbm
catboost
# The web server that Render will use 
gunicorn
